.sidenav {
  width: 200px;
  font-size: small;
  box-shadow: 2px 0px 1px 1px #f4f5fa;
  border: 0px solid;
  z-index: 1;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: white;
}

.sidenav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav_logo > img {
  max-width: 100%;
  margin: 10px 0;
}

.sidenav_search {
  position: relative;
  margin: 1.5em 0;
}

.sidenav_search > input {
  padding: 8px 10px;
  border: 1px solid #f4f5fa;
  box-shadow: 0px 1px 0px 1px #f4f5fa;
  border-radius: 0px 50px 50px 0px;
  position: relative;
  outline-width: 0;
  margin-left: 10px;
  width: 90%;
}

.sidenav_search > i {
  right: 30px;
  top: 30%;
  position: absolute;
}

.sidenav a {
  text-decoration: none;
  color: #808080;
}

.sidenav_link li {
  padding: 10px 15px;
}
.sidenav hr {
  margin: 2em 0;
  border: 1px solid #f4f5fa;
}
/* Scroll bar */
.sidenav_subreddit {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #898ea2;
  border-radius: 20px;
  border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a6a6a6;
}

::-webkit-scrollbar-thumb:active {
  background-color: #a6a6a6;
}

::-webkit-scrollbar-thumb:vertical {
  height: 100px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 10px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media (max-width: 768px) {
  .sidenav {
    width: 100%;
    font-size: large;
    box-shadow: 2px 0px 1px 1px #f4f5fa;
    border: 0px solid;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: white;
    display: none;
  }
  .main {
    padding-left: 10px;
  }
  .sidenav_search > i {
    right: 22%;
    top: 30%;
    position: absolute;
  }

  .sidenav_search {
    margin: 1em 0;
  }

  .sidenav_search > input {
    width: 80%;
  }

  .sidenav_logo > img {
    width: 60%;
  }

  .sidenav_subreddit {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }
  .sidenav.show {
    display: block;
  }
  .toggle-button {
    display: block;
    position: fixed;
    top: 55px;
    left: 10px;
    z-index: 999;
    background-color: transparent;
    border: none;
    border-radius: 60%;
    font-size: 1.5rem;
    color: #464855;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height: 30px;
    width: 30px;
  }
  .toggle-button:hover {
    background-color: #f4f5fa;
  }
}

.sidenav_subreddit a.highlighted {
  color: #fd4500;
}
.sidenav_menu a.highlighted {
  color: #fd4500;
}
